<ion-view>
  <ion-nav-title>Login</ion-nav-title>
  <ion-content>
    <button  class="button button-positive button-full" ng-click="login()">
      Login
    </button>

    <button  class="button button-positive button-full" ng-click="logina()">
      Login A
    </button>

    <button  class="button button-positive button-full" ng-click="profile()">
      Porifile
    </button>

    <button  class="button button-positive button-full" ng-click="logout()">
      Logout
    </button>
  </ion-content>
</ion-view>
