<ion-view view-title="Battletime">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Events</strong>     
           <div class="buttons buttons-right header-item">
                <span class="right-buttons">
                    <button class="button button-balanced button-fab">
                        <i class="icon icon-sm ion-plus"></i>
                    </button>
                </span>
            </div>
        </div>

        <div class="im-wrapper text-center margin-top">
            <h4 class="border-bottom">
                 Ow noes!
            </h4>
            <p>You have not entered an event yet. You can join an event by scanning the required QR code given to you at the signup desk.
                To scan the QR code, click the <b class="<text-balanced></text-balanced>">+</b> button on the top right side of this screen. </p>
        </div>

    </ion-content>
</ion-view>



          