<ion-view view-title="Battletime">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Events</strong>     
        </div>

        <div class="im-wrapper">

            <div class="text-center margin-top" ng-show="events.length == 0">
                <h4 class="border-bottom">
                    Ow noes!
                </h4>
                <p>
                    You have not entered an event yet. You can join an event by scanning the required QR code given to you at the signup desk.
                    To scan the QR code, click the <b>SCAN QR CODE</b> button. 
                </p>
            </div>

            <button class="button button-block button-assertive" ng-click="scanEventCode()">
                SCAN SQ CODE
            </button>

            <div  ng-show="events.length > 0">

                <ion-refresher pulling-text="Pull to refresh" on-refresh="getMyEvents()"></ion-refresher>

                <h4 class="border-bottom">
                    <i class="icon ion-flag"></i>      
                    My events
                </h4>

                <div class="list">
                    <a class="item item-avatar" ng-repeat="event in events | orderBy: '-stoppedOn'" class="status-{{event.status.id}}">
                        <img src="img/bashj_logo.jpg">
                        <span>{{event.name}}</span>               
                        <p>
                            {{event.status.text}}
                        </p>
                    </a>
                </div>
            </div>
        </div>
    
    </ion-content>
</ion-view>



          