<ion-view view-title="Battletime">
    <ion-content>

        <div class="bar bar-subheader expanded bar-portal bar-stable static text-center">
            <div class="profile-pic" ng-click="editPicture()">
                <i class="icon ion-camera"></i>
                <img ng-src="{{auth.user.imageUri | image}}" >
            </div>
        </div>

        <div class="im-wrapper text-center">
            <h4 class="border-bottom" >
                Welcome {{auth.user.username}}
            </h4>

            <p>
                Thank you {{auth.user.username}} for singing in! 
                We will now be able te generate battles with you're profile.
                Every <b>battle</b> will be presented on the big screen using you're username and <b>profile</b> picture.
                You can change you're profile picture by clicking <the></the> button above.

            </p>

            <h4 class="border-bottom" >
                Battles
            </h4>

            <p>
                Every battle you participate in, is viewable via the 
                <b>battles</b> page (see hamburger menu on the top left).
                These battles will be assigned to you via events. 
            </p>

            <button class="button button-block button-assertive" ui-sref="app.battles">
                Go to battles page!
            </button>

            <h4 class="border-bottom" >
                Events
            </h4>

            <p>
                Now that you have a battletime profile, you can join events. 
                After every bboy or bgirl is subscribed to the event, the event can start! 
                You can join an event by scanning the <b>event QR code</b> via the <b>SCAN QR CODE</b> button below.
            </p>

            <button class="button button-block button-assertive" ng-click="scanEventCode()">
                SCAN SQ CODE
            </button>
        </div>
     
    </ion-content>
</ion-view>

          