<ion-view view-title="Battletime">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Welcome {{auth.user.username}}</strong>
        </div>

        <ion-refresher pulling-text="Pull to refresh" on-refresh="getMyBattles()"></ion-refresher>

        <div class="text-center challenge">
            
            <buttton ng-show="!callout && !loading" class="button button-raised button-assertive" ng-click="getRandomBattle()">
                Random callout
            </buttton>       
        
            <div ng-show="loading" class="loading">
                "{{messages[msgIndex]}}"
            </div>

            <div ng-show="callout && !loading">
                <h4 class="border-bottom">
                    You <span class="text-assertive">V.S.</span> {{callout.participants[1].username}}
                </h4>
                <button ng-click="addChallenger()" class="button button-calm">Let's go!</button>
            </div>

        </div>

         <hr>

        <div class="im-wrapper card dark text-center margin-top" ng-show="battles.length <= 0">
            <h4 class="border-bottom">
                First timer!
            </h4>
            <p>
                Welcome {{auth.user.username}} to battletime. In this app you can challange other bboys or bgirls in a <callout></callout>
                or join events and dance you're way to the top! Battling others and winning battles earns you points. 
                You can unlock awesome achievements and become the best breaker in the world! 
            </p>
             <p>
                Make you're first <b>callout</b> (button above) or join you're first <b>event</b> via the events tab (hamburger menu).
            </p>
        </div>

         <hr>
         

        <div class="im-wrapper">

            <h4 class="border-bottom">
                <i class="icon ion-android-color-palette"></i>      
                Battles in progress
            </h4>

            <div ng-show="(battles | filter:{ status: { id: 1 } }).length == 0">
                <p class="text-calm">No active battles</p>
            </div>
            
            <div class="list" ng-show="battles">
                <battle-item ng-repeat="battle in battles | filter:{ status: { id: 1 } }" input="battle">
                </battle-item>
            </div>
    
                
            <h4 class="border-bottom">
                <i class="icon ion-clock"></i>      
                Battles up and coming
            </h4>

            <div ng-show="(battles | filter:{ status: { id: 0 } }).length == 0">
                <p class="text-calm">No up and comming battles</p>
            </div>

            <div class="list" ng-show="battles">
                  <battle-item ng-repeat="battle in battles | filter:{ status: { id: 0 } }" input="battle">
                </battle-item>
            </div>

    </ion-content>
</ion-view>

          