<ion-view view-title="Battletime">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Battle details</strong>
        </div>

        <ion-refresher pulling-text="Pull to refresh" on-refresh="getBattle()"></ion-refresher>

        <div ng-show="battle" >

            <div class="list card bordered">

                <div class="item item-icon-left">
                    <i class="icon ion-ios-clock"></i>
                    <span >{{ battle.stoppedOn ? (battle.stoppedOn | date : 'medium') : 'In progress' }}</span>
                </div>

                <div class="item item-icon-left">
                    <i class="icon ion-trophy"></i>
                    <span>{{battle.winner ? battle.winner.username : 'No winner' }}</span>
                </div>
    
                <div href="#" class="item item-icon-left">
                    <i class="icon ion-flag"></i>
                    <span>{{battle.event ? battle.event.name : 'Callout' }}</span>
                </div>
            </div>

            <div class="list card bordered asssertive">

                <div class="item item-icon-left">
                    <i class="icon ion-compose"></i>
                    <h2>Vote</h2>
                    <div ng-show="!battle.event">
                        <p ng-show="battle.status.id == '0'">Voting has not started yet</p>
                        <p ng-show="battle.status.id == '1'">Who do you think won the battle?</p>   
                        <p ng-show="battle.status.id == '2'">Voting is closed</p>
                    </div>
                    <p ng-show="battle.event">You can't vote for this battle :( </p>
                </div>

                <div class="item item-body" ng-show="battle.status.id == '1'">        
                    <div ng-show="canVote()">
                        <label class="item-input item-select" >
                            <div class="input-label">
                            Participants
                            </div>
                            <select ng-model="selectedIndex">
                                <option value="{{$index}}" ng-repeat="user in battle.participants track by $index">
                                    {{user.username}}
                                </option>
                            </select>
                        </label>

                        <button class="button button-block button-assertive" ng-click="vote(battle.participants[selectedIndex])">Vote</button>
                    </div>
                    <div ng-show="!canVote()">
                        <p>You already voted! Wait for the you're opponent to vote.</p>
                    </div>
                </div>
            </div>

            <div class="list bordered">

                <div class="item item-icon-left">
                    <i class="icon ion-person"></i>
                    <h2>Participants</h2>
                    <p>These brave dances gave it all they got!</p>
                </div>
   
                <div class="item item-avatar participants" ng-repeat="user in battle.participants">
                    <img src="img/material1.jpg">

                    <span >
                        {{user.username }} <b> {{user._id == battle.winner._id ? '- Winner' : ''}} </b>
                    </span>
                </div>
            </div>
        </div>
            
    </ion-content>
</ion-view>
