<ion-view view-title="Battletime">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Profile</strong>
        </div>

        <div class="profile" ng-click="editPicture()">
            <i class="icon ion-camera"></i>
            <img ng-src="{{auth.user.imageUri | image}}" >
        </div>

        <h4 class="border-bottom profile-name">
            {{auth.user.username}}
        </h4>

        <input id="temp">

        <button ng-click="test()">test</button>
        {{newUser}}

        <div class="text-center">
            <button class="button button-assertive" ng-click="logout()">Logout</button>
        </div>
    </ion-content>
</ion-view>

          