.item.item-divider{    
    height: 10px;
    padding: 2px;
    min-height: 0px;
}

.challenge{
    padding:30px;
}

.challenge .button{
    width:100%;
  
}

.challenge input{
    width:100%;
}

.list.bordered .item{
    border-top:1px solid #ddd;
}

.bar-bashj{
    background-color:#ffc900;
    color:white;
}

.bar.expanded{
    height:200px;
}

.flex{
    display: flex;
    justify-content: space-around;
}