.item.item-divider{    
    height: 10px;
    padding: 2px;
    min-height: 0px;
}

.challenge{
    padding:30px;
}

.challenge .button{
    width:100%;
  
}

.challenge input{
    width:100%;
}

.list.bordered .item{
    border-top:1px solid #ddd;
}

.bar-bashj{
    background-color:#ffc900;
    color:white;
}

.bar.expanded{
    height:150px;
}

.bar-portal{
    margin-bottom:30px;
}

.bar-signup{
    margin-bottom:30px;
    display: block;
}

.bar-portal .profile-pic{
    position: relative;
    width: 150px;
    top: 20px;
    left: 50%;
    margin-left: -75px;
}

.logo{
    width:100px;
     box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
     border:3px solid white;
}

.subtitle{
    position: relative;
    display: block;
    top: -100%;
}

.profile-pic{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.profile-pic img{
    border:3px solid white;
    width:100%;
    display: block;
}

.profile-pic i{
    position: absolute;
    right:6px; bottom:6px;
    color:white;
    font-size:120%;
    padding:2px 5px;
    border: 1px solid white;
}

.flex{
    display: flex;
    justify-content: space-around;
}